USE [master]
GO
/****** Object:  Database [plan2024]    Script Date: 09/05/2025 11:08:58 ******/
CREATE DATABASE [plan2024]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'plan2024', FILENAME = N'C:\Program Files\SQLServer\Data\plan2024.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'plan2024_log', FILENAME = N'C:\Program Files\SQLServer\Data\plan2024_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [plan2024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [plan2024]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[planestudio_id] [int] NOT NULL,
	[legajo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignatura]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignatura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[area_id] [int] NOT NULL,
	[regimen_id] [int] NOT NULL,
	[nombre] [varchar](256) NOT NULL,
	[horassemana] [int] NOT NULL,
	[horascuatrimestre] [int] NOT NULL,
	[creditos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[institucion_id] [int] NOT NULL,
	[tipocarrera_id] [int] NOT NULL,
	[modalidadcarrera_id] [int] NOT NULL,
	[nombre] [varchar](256) NOT NULL,
	[duracion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correlativas]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correlativas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[asignatura_id] [int] NOT NULL,
	[correlativa_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuatrimestre]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuatrimestre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NOT NULL,
	[descripcion] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluacion]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipoevaluacion_id] [int] NOT NULL,
	[materiaplan_id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[aprobada_sn] [char](1) NOT NULL,
	[calificacion] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institucion]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institucion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](256) NOT NULL,
	[domicilio] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MateriasPlan]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateriasPlan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plan_id] [int] NOT NULL,
	[asignatura_id] [int] NULL,
	[nivel_id] [int] NOT NULL,
	[cuatrimestre_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModalidadCarrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModalidadCarrera](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NOT NULL,
	[descripcion] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](64) NOT NULL,
	[nombre] [varchar](64) NOT NULL,
	[dni] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanEstudio]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanEstudio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](256) NOT NULL,
	[carrera_id] [int] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[materiaplan_id] [int] NOT NULL,
	[legajo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regimen]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regimen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCarrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCarrera](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEvaluacion]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvaluacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([id], [nombre]) VALUES (1, N'Ciencias Básicas')
INSERT [dbo].[Area] ([id], [nombre]) VALUES (3, N'Disciplinas Complementarias')
INSERT [dbo].[Area] ([id], [nombre]) VALUES (2, N'Disciplinas Tecnológicas')
SET IDENTITY_INSERT [dbo].[Area] OFF
GO
SET IDENTITY_INSERT [dbo].[Asignatura] ON 

INSERT [dbo].[Asignatura] ([id], [area_id], [regimen_id], [nombre], [horassemana], [horascuatrimestre], [creditos]) VALUES (1, 2, 1, N'Programación I', 8, 128, 13)
INSERT [dbo].[Asignatura] ([id], [area_id], [regimen_id], [nombre], [horassemana], [horascuatrimestre], [creditos]) VALUES (2, 2, 1, N'Arquitectura y Sistemas Operativos', 4, 64, 5)
INSERT [dbo].[Asignatura] ([id], [area_id], [regimen_id], [nombre], [horassemana], [horascuatrimestre], [creditos]) VALUES (3, 1, 1, N'Matemática', 4, 64, 5)
SET IDENTITY_INSERT [dbo].[Asignatura] OFF
GO
SET IDENTITY_INSERT [dbo].[Carrera] ON 

INSERT [dbo].[Carrera] ([id], [institucion_id], [tipocarrera_id], [modalidadcarrera_id], [nombre], [duracion]) VALUES (1, 1, 1, 1, N'Tecnicatura Universitaria en Programación', 2)
SET IDENTITY_INSERT [dbo].[Carrera] OFF
GO
SET IDENTITY_INSERT [dbo].[Cuatrimestre] ON 

INSERT [dbo].[Cuatrimestre] ([id], [numero], [descripcion]) VALUES (1, 1, N'Primer')
INSERT [dbo].[Cuatrimestre] ([id], [numero], [descripcion]) VALUES (2, 2, N'Segundo')
INSERT [dbo].[Cuatrimestre] ([id], [numero], [descripcion]) VALUES (3, 3, N'Proyecto Final')
SET IDENTITY_INSERT [dbo].[Cuatrimestre] OFF
GO
SET IDENTITY_INSERT [dbo].[Institucion] ON 

INSERT [dbo].[Institucion] ([id], [nombre], [domicilio]) VALUES (1, N'UTN Facultad Regional San Nicolás', N'Colón 332, San Nicolás, Buenos Aires (2900)')
SET IDENTITY_INSERT [dbo].[Institucion] OFF
GO
SET IDENTITY_INSERT [dbo].[MateriasPlan] ON 

INSERT [dbo].[MateriasPlan] ([id], [plan_id], [asignatura_id], [nivel_id], [cuatrimestre_id]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[MateriasPlan] ([id], [plan_id], [asignatura_id], [nivel_id], [cuatrimestre_id]) VALUES (2, 1, 2, 1, 1)
INSERT [dbo].[MateriasPlan] ([id], [plan_id], [asignatura_id], [nivel_id], [cuatrimestre_id]) VALUES (3, 1, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[MateriasPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[ModalidadCarrera] ON 

INSERT [dbo].[ModalidadCarrera] ([id], [nombre]) VALUES (2, N'A distancia')
INSERT [dbo].[ModalidadCarrera] ([id], [nombre]) VALUES (1, N'Presencial')
SET IDENTITY_INSERT [dbo].[ModalidadCarrera] OFF
GO
SET IDENTITY_INSERT [dbo].[Nivel] ON 

INSERT [dbo].[Nivel] ([id], [numero], [descripcion]) VALUES (1, 1, N'Primer Año')
INSERT [dbo].[Nivel] ([id], [numero], [descripcion]) VALUES (2, 2, N'Segundo Año')
SET IDENTITY_INSERT [dbo].[Nivel] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([id], [apellido], [nombre], [dni]) VALUES (1, N'Acosta', N'Fausto', 44867259)
INSERT [dbo].[Persona] ([id], [apellido], [nombre], [dni]) VALUES (2, N'Alberoni', N'Azul', 47139322)
INSERT [dbo].[Persona] ([id], [apellido], [nombre], [dni]) VALUES (3, N'Albitre', N'Maite', 44380799)
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[PlanEstudio] ON 

INSERT [dbo].[PlanEstudio] ([id], [nombre], [carrera_id], [fecha_inicio], [fecha_fin]) VALUES (1, N'Nuevo Plan 2018', 1, CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PlanEstudio] OFF
GO
SET IDENTITY_INSERT [dbo].[Regimen] ON 

INSERT [dbo].[Regimen] ([id], [nombre]) VALUES (1, N'Anual')
INSERT [dbo].[Regimen] ([id], [nombre]) VALUES (2, N'Cuatrimestral')
INSERT [dbo].[Regimen] ([id], [nombre]) VALUES (3, N'Proyecto Final')
SET IDENTITY_INSERT [dbo].[Regimen] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoCarrera] ON 

INSERT [dbo].[TipoCarrera] ([id], [nombre]) VALUES (2, N'Ingeniería')
INSERT [dbo].[TipoCarrera] ([id], [nombre]) VALUES (1, N'Tecnicatura Universitaria')
SET IDENTITY_INSERT [dbo].[TipoCarrera] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Area__72AFBCC697804931]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[Area] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Carrera__72AFBCC6B8160231]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[Carrera] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uix_correlativas]    Script Date: 09/05/2025 11:08:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [uix_correlativas] ON [dbo].[Correlativas]
(
	[asignatura_id] ASC,
	[correlativa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Instituc__72AFBCC6ECDD3959]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[Institucion] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Modalida__72AFBCC6D1AC9032]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[ModalidadCarrera] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Persona__D87608A7DE57B686]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PlanEstu__72AFBCC6A64002F9]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[PlanEstudio] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Regimen__72AFBCC6E2CAA170]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[Regimen] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoCarr__72AFBCC6A767B0CC]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[TipoCarrera] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoEval__72AFBCC6F41C95CD]    Script Date: 09/05/2025 11:08:58 ******/
ALTER TABLE [dbo].[TipoEvaluacion] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD FOREIGN KEY([persona_id])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD FOREIGN KEY([planestudio_id])
REFERENCES [dbo].[PlanEstudio] ([id])
GO
ALTER TABLE [dbo].[Asignatura]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[Area] ([id])
GO
ALTER TABLE [dbo].[Asignatura]  WITH CHECK ADD FOREIGN KEY([regimen_id])
REFERENCES [dbo].[Regimen] ([id])
GO
ALTER TABLE [dbo].[Carrera]  WITH CHECK ADD FOREIGN KEY([institucion_id])
REFERENCES [dbo].[Institucion] ([id])
GO
ALTER TABLE [dbo].[Carrera]  WITH CHECK ADD FOREIGN KEY([modalidadcarrera_id])
REFERENCES [dbo].[ModalidadCarrera] ([id])
GO
ALTER TABLE [dbo].[Carrera]  WITH CHECK ADD FOREIGN KEY([tipocarrera_id])
REFERENCES [dbo].[TipoCarrera] ([id])
GO
ALTER TABLE [dbo].[Correlativas]  WITH CHECK ADD FOREIGN KEY([asignatura_id])
REFERENCES [dbo].[Asignatura] ([id])
GO
ALTER TABLE [dbo].[Correlativas]  WITH CHECK ADD FOREIGN KEY([correlativa_id])
REFERENCES [dbo].[Asignatura] ([id])
GO
ALTER TABLE [dbo].[MateriasPlan]  WITH CHECK ADD FOREIGN KEY([asignatura_id])
REFERENCES [dbo].[Asignatura] ([id])
GO
ALTER TABLE [dbo].[MateriasPlan]  WITH CHECK ADD FOREIGN KEY([cuatrimestre_id])
REFERENCES [dbo].[Cuatrimestre] ([id])
GO
ALTER TABLE [dbo].[MateriasPlan]  WITH CHECK ADD FOREIGN KEY([nivel_id])
REFERENCES [dbo].[Nivel] ([id])
GO
ALTER TABLE [dbo].[MateriasPlan]  WITH CHECK ADD FOREIGN KEY([plan_id])
REFERENCES [dbo].[PlanEstudio] ([id])
GO
ALTER TABLE [dbo].[PlanEstudio]  WITH CHECK ADD FOREIGN KEY([carrera_id])
REFERENCES [dbo].[Carrera] ([id])
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD FOREIGN KEY([materiaplan_id])
REFERENCES [dbo].[MateriasPlan] ([id])
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD FOREIGN KEY([persona_id])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[Cuatrimestre]  WITH CHECK ADD CHECK  (([numero]>=(0)))
GO
ALTER TABLE [dbo].[Evaluacion]  WITH CHECK ADD CHECK  (([aprobada_sn]='N' OR [aprobada_sn]='S'))
GO
ALTER TABLE [dbo].[Nivel]  WITH CHECK ADD CHECK  (([numero]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[D_Alumno]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Alumno]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Alumno WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[D_Area]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Area]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Area WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_Asignatura]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Asignatura]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Asignatura WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_Carrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Carrera]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Carrera WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_Correlativas]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Correlativas]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Correlativas WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_Cuatrimestre]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Cuatrimestre]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Cuatrimestre WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[D_Institucion]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Institucion]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Institucion WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[D_MateriasPlan]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_MateriasPlan]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM MateriasPlan WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_ModalidadCarrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_ModalidadCarrera]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM ModalidadCarrera WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_Nivel]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Nivel]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Nivel WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[D_Persona]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Persona]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Persona WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_PlanEstudio]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_PlanEstudio]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM PlanEstudio WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_Regimen]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_Regimen]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM Regimen WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[D_TipoCarrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[D_TipoCarrera]
@ID INTEGER
AS
BEGIN
  BEGIN TRY
    DELETE FROM TipoCarrera WHERE ID = @ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[GetErrorInfo]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetErrorInfo]
as
Begin
	SELECT ERROR_NUMBER() AS ErrorNumber,
	ERROR_SEVERITY() AS ErrorSeverity,
	ERROR_STATE() AS ErrorState,
	ERROR_PROCEDURE() AS ErrorProcedure,
	ERROR_LINE() AS ErrorLine,
	ERROR_MESSAGE() AS ErrorMessage;
End;
GO
/****** Object:  StoredProcedure [dbo].[I_Alumno]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Alumno]
    @ID INT OUTPUT
   ,@PERSONA_ID INT
   ,@PLANESTUDIO_ID INT
   ,@LEGAJO INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO Alumno
    (PERSONA_ID ,PLANESTUDIO_ID ,LEGAJO)
    VALUES
    (@PERSONA_ID ,@PLANESTUDIO_ID ,@LEGAJO)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_Area]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Area]
    @ID INT OUTPUT
   ,@NOMBRE VARCHAR(256)
AS
BEGIN
  BEGIN TRY
    INSERT INTO Area
    (NOMBRE)
    VALUES
    (@NOMBRE)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_Asignatura]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Asignatura]
    @ID INT OUTPUT
   ,@AREA_ID INT
   ,@REGIMEN_ID INT
   ,@NOMBRE VARCHAR(256)
   ,@HORASSEMANA INT
   ,@HORASCUATRIMESTRE INT
   ,@CREDITOS INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO Asignatura
    (AREA_ID ,REGIMEN_ID ,NOMBRE ,HORASSEMANA ,HORASCUATRIMESTRE ,CREDITOS)
    VALUES
    (@AREA_ID ,@REGIMEN_ID ,@NOMBRE ,@HORASSEMANA ,@HORASCUATRIMESTRE ,@CREDITOS)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_Carrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Carrera]
    @ID INT OUTPUT
   ,@INSTITUCION_ID INT
   ,@TIPOCARRERA_ID INT
   ,@MODALIDADCARRERA_ID INT
   ,@NOMBRE VARCHAR(256)
   ,@DURACION INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO Carrera
    (INSTITUCION_ID ,TIPOCARRERA_ID ,MODALIDADCARRERA_ID ,NOMBRE ,DURACION)
    VALUES
    (@INSTITUCION_ID ,@TIPOCARRERA_ID ,@MODALIDADCARRERA_ID ,@NOMBRE ,@DURACION)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_Correlativas]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Correlativas]
    @ID INT OUTPUT
   ,@ASIGNATURA_ID INT
   ,@CORRELATIVA_ID INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO Correlativas
    (ASIGNATURA_ID ,CORRELATIVA_ID)
    VALUES
    (@ASIGNATURA_ID ,@CORRELATIVA_ID)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_Cuatrimestre]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Cuatrimestre]
    @ID INT OUTPUT
   ,@NUMERO INT
   ,@DESCRIPCION VARCHAR(128)
AS
BEGIN
  BEGIN TRY
    INSERT INTO Cuatrimestre
    (NUMERO ,DESCRIPCION)
    VALUES
    (@NUMERO ,@DESCRIPCION)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_Institucion]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Institucion]
    @ID INT OUTPUT
   ,@NOMBRE VARCHAR(256)
   ,@DOMICILIO VARCHAR(256)
AS
BEGIN
  BEGIN TRY
    INSERT INTO Institucion
    (NOMBRE ,DOMICILIO)
    VALUES
    (@NOMBRE ,@DOMICILIO)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[I_MateriasPlan]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_MateriasPlan]
    @ID INT OUTPUT
   ,@PLAN_ID INT
   ,@ASIGNATURA_ID INT
   ,@NIVEL_ID INT
   ,@CUATRIMESTRE_ID INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO MateriasPlan
    (PLAN_ID ,ASIGNATURA_ID ,NIVEL_ID ,CUATRIMESTRE_ID)
    VALUES
    (@PLAN_ID ,@ASIGNATURA_ID ,@NIVEL_ID ,@CUATRIMESTRE_ID)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_ModalidadCarrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_ModalidadCarrera]
    @ID INT OUTPUT
   ,@NOMBRE VARCHAR(128)
AS
BEGIN
  BEGIN TRY
    INSERT INTO ModalidadCarrera
    (NOMBRE)
    VALUES
    (@NOMBRE)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[I_Nivel]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Nivel]
    @ID INT OUTPUT
   ,@NUMERO INT
   ,@DESCRIPCION VARCHAR(128)
AS
BEGIN
  BEGIN TRY
    INSERT INTO Nivel
    (NUMERO ,DESCRIPCION)
    VALUES
    (@NUMERO ,@DESCRIPCION)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_Persona]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Persona]
    @ID INT OUTPUT
   ,@APELLIDO VARCHAR(64)
   ,@NOMBRE VARCHAR(64)
   ,@DNI INT
AS
BEGIN
  BEGIN TRY
    INSERT INTO Persona
    (APELLIDO ,NOMBRE ,DNI)
    VALUES
    (@APELLIDO ,@NOMBRE ,@DNI)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_PlanEstudio]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_PlanEstudio]
    @ID INT OUTPUT
   ,@NOMBRE VARCHAR(256)
   ,@CARRERA_ID INT
   ,@FECHA_INICIO DATETIME
   ,@FECHA_FIN DATETIME
AS
BEGIN
  BEGIN TRY
    INSERT INTO PlanEstudio
    (NOMBRE ,CARRERA_ID ,FECHA_INICIO ,FECHA_FIN)
    VALUES
    (@NOMBRE ,@CARRERA_ID ,@FECHA_INICIO ,@FECHA_FIN)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_Regimen]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_Regimen]
    @ID INT OUTPUT
   ,@NOMBRE VARCHAR(256)
AS
BEGIN
  BEGIN TRY
    INSERT INTO Regimen
    (NOMBRE)
    VALUES
    (@NOMBRE)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[I_TipoCarrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[I_TipoCarrera]
    @ID INT OUTPUT
   ,@NOMBRE VARCHAR(128)
AS
BEGIN
  BEGIN TRY
    INSERT INTO TipoCarrera
    (NOMBRE)
    VALUES
    (@NOMBRE)
     SET @ID = @@IDENTITY
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[U_Alumno]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Alumno]
    @ID INT
   ,@PERSONA_ID INT
   ,@PLANESTUDIO_ID INT
   ,@LEGAJO INT
AS
BEGIN
  BEGIN TRY
    UPDATE Alumno SET
    PERSONA_ID = ISNULL(@PERSONA_ID, PERSONA_ID)
   ,PLANESTUDIO_ID = ISNULL(@PLANESTUDIO_ID, PLANESTUDIO_ID)
   ,LEGAJO = ISNULL(@LEGAJO, LEGAJO)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_Area]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Area]
    @ID INT
   ,@NOMBRE VARCHAR(256)
AS
BEGIN
  BEGIN TRY
    UPDATE Area SET
    NOMBRE = ISNULL(@NOMBRE, NOMBRE)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_Asignatura]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Asignatura]
    @ID INT
   ,@AREA_ID INT
   ,@REGIMEN_ID INT
   ,@NOMBRE VARCHAR(256)
   ,@HORASSEMANA INT
   ,@HORASCUATRIMESTRE INT
   ,@CREDITOS INT
AS
BEGIN
  BEGIN TRY
    UPDATE Asignatura SET
    AREA_ID = ISNULL(@AREA_ID, AREA_ID)
   ,REGIMEN_ID = ISNULL(@REGIMEN_ID, REGIMEN_ID)
   ,NOMBRE = ISNULL(@NOMBRE, NOMBRE)
   ,HORASSEMANA = ISNULL(@HORASSEMANA, HORASSEMANA)
   ,HORASCUATRIMESTRE = ISNULL(@HORASCUATRIMESTRE, HORASCUATRIMESTRE)
   ,CREDITOS = ISNULL(@CREDITOS, CREDITOS)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_Carrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Carrera]
    @ID INT
   ,@INSTITUCION_ID INT
   ,@TIPOCARRERA_ID INT
   ,@MODALIDADCARRERA_ID INT
   ,@NOMBRE VARCHAR(256)
   ,@DURACION INT
AS
BEGIN
  BEGIN TRY
    UPDATE Carrera SET
    INSTITUCION_ID = ISNULL(@INSTITUCION_ID, INSTITUCION_ID)
   ,TIPOCARRERA_ID = ISNULL(@TIPOCARRERA_ID, TIPOCARRERA_ID)
   ,MODALIDADCARRERA_ID = ISNULL(@MODALIDADCARRERA_ID, MODALIDADCARRERA_ID)
   ,NOMBRE = ISNULL(@NOMBRE, NOMBRE)
   ,DURACION = ISNULL(@DURACION, DURACION)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_Correlativas]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Correlativas]
    @ID INT
   ,@ASIGNATURA_ID INT
   ,@CORRELATIVA_ID INT
AS
BEGIN
  BEGIN TRY
    UPDATE Correlativas SET
    ASIGNATURA_ID = ISNULL(@ASIGNATURA_ID, ASIGNATURA_ID)
   ,CORRELATIVA_ID = ISNULL(@CORRELATIVA_ID, CORRELATIVA_ID)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_Cuatrimestre]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Cuatrimestre]
    @ID INT
   ,@NUMERO INT
   ,@DESCRIPCION VARCHAR(128)
AS
BEGIN
  BEGIN TRY
    UPDATE Cuatrimestre SET
    NUMERO = ISNULL(@NUMERO, NUMERO)
   ,DESCRIPCION = ISNULL(@DESCRIPCION, DESCRIPCION)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_Institucion]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Institucion]
    @ID INT
   ,@NOMBRE VARCHAR(256)
   ,@DOMICILIO VARCHAR(256)
AS
BEGIN
  BEGIN TRY
    UPDATE Institucion SET
    NOMBRE = ISNULL(@NOMBRE, NOMBRE)
   ,DOMICILIO = ISNULL(@DOMICILIO, DOMICILIO)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_MateriasPlan]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_MateriasPlan]
    @ID INT
   ,@PLAN_ID INT
   ,@ASIGNATURA_ID INT
   ,@NIVEL_ID INT
   ,@CUATRIMESTRE_ID INT
AS
BEGIN
  BEGIN TRY
    UPDATE MateriasPlan SET
    PLAN_ID = ISNULL(@PLAN_ID, PLAN_ID)
   ,ASIGNATURA_ID = ISNULL(@ASIGNATURA_ID, ASIGNATURA_ID)
   ,NIVEL_ID = ISNULL(@NIVEL_ID, NIVEL_ID)
   ,CUATRIMESTRE_ID = ISNULL(@CUATRIMESTRE_ID, CUATRIMESTRE_ID)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[U_ModalidadCarrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_ModalidadCarrera]
    @ID INT
   ,@NOMBRE VARCHAR(128)
AS
BEGIN
  BEGIN TRY
    UPDATE ModalidadCarrera SET
    NOMBRE = ISNULL(@NOMBRE, NOMBRE)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_Nivel]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Nivel]
    @ID INT
   ,@NUMERO INT
   ,@DESCRIPCION VARCHAR(128)
AS
BEGIN
  BEGIN TRY
    UPDATE Nivel SET
    NUMERO = ISNULL(@NUMERO, NUMERO)
   ,DESCRIPCION = ISNULL(@DESCRIPCION, DESCRIPCION)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_Persona]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Persona]
    @ID INT
   ,@APELLIDO VARCHAR(64)
   ,@NOMBRE VARCHAR(64)
   ,@DNI INT
AS
BEGIN
  BEGIN TRY
    UPDATE Persona SET
    APELLIDO = ISNULL(@APELLIDO, APELLIDO)
   ,NOMBRE = ISNULL(@NOMBRE, NOMBRE)
   ,DNI = ISNULL(@DNI, DNI)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_PlanEstudio]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_PlanEstudio]
    @ID INT
   ,@NOMBRE VARCHAR(256)
   ,@CARRERA_ID INT
   ,@FECHA_INICIO DATETIME
   ,@FECHA_FIN DATETIME
AS
BEGIN
  BEGIN TRY
    UPDATE PlanEstudio SET
    NOMBRE = ISNULL(@NOMBRE, NOMBRE)
   ,CARRERA_ID = ISNULL(@CARRERA_ID, CARRERA_ID)
   ,FECHA_INICIO = ISNULL(@FECHA_INICIO, FECHA_INICIO)
   ,FECHA_FIN = ISNULL(@FECHA_FIN, FECHA_FIN)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[U_Regimen]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_Regimen]
    @ID INT
   ,@NOMBRE VARCHAR(256)
AS
BEGIN
  BEGIN TRY
    UPDATE Regimen SET
    NOMBRE = ISNULL(@NOMBRE, NOMBRE)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[U_TipoCarrera]    Script Date: 09/05/2025 11:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[U_TipoCarrera]
    @ID INT
   ,@NOMBRE VARCHAR(128)
AS
BEGIN
  BEGIN TRY
    UPDATE TipoCarrera SET
    NOMBRE = ISNULL(@NOMBRE, NOMBRE)
    WHERE ID = ID
  END TRY
  BEGIN CATCH
     EXECUTE GetErrorInfo
  END CATCH
END;
GO
USE [master]
GO
